h1 {
    padding: 1% 5% 1% 5%;
    background: black;
    color: white;
    font: bold, "Lucida Console", Monaco, monospace;
    margin-bottom: 0px;
}

body {
    background: #f1f1f1;
}

#videos {
    text-align: center;
}

.align-right {
    float: right;
}


.margin {
    margin: 5% 15% 5% 15%;
}

video {
    margin: 2%;
}

.row img {
    position: relative;
    width: 90%;
    height: 90%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.column {
    
    width: 33.33%;
}
  
/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
    padding: 1%
}

.row {
    text-align: center;
}

.backimage img {
    z-index: -1;
    width: 100%;
    height: auto;

}

.backimage {
    position: relative;
}

.overlay {
    position: absolute;
    left: 0;
    top: 5%;
    /* width: 100%; */
    text-align: center;
    font-size: 1vw;
    color: deepskyblue;
}

.media {
    padding: 2%;
}

.media img {
    z-index: 0;
    width: 10%;
}

.parallax {
    /* The image used */
  background-image: url('../photos/parallaxbg.jpg');

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}