h1 {
    padding: 1% 5% 1% 5%;
    background: black;
    color: white;
}

.archives {
    padding: 5%;
    float: right;
}

.archives.links {
    text-align: center;
    color: blue;
    list-style-type: none;
    white-space: nowrap;
}
